* {
    box-sizing:border-box;
    margin:0;
}

body {
    font-family: 'DM Sans', sans-serif;
    color: #2B292D;
}

/* Reset CSS */
a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: none;
    box-shadow: none;
}

ul,
ol,
li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;

}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #2b292d;
    letter-spacing: -0.01em;
}

.file-button {
    width: 140px;
    height: 48px;
    padding: 12px 33px;
    border-radius: 2px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 1.6;
    background-color: #3040C4;
    cursor:pointer;
    transition: opacity 300ms ease-in-out;
}

.file-button:hover{
    opacity: 0.5;
}

.file-button.inverted {
    padding: 12px 30px;
    color:#3040c4;
    background-color: #fff;
}

/* landing */
.landing { 
    background-color: #FDDED8;
    text-align: center;
}

.landing-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    
}

.landing-title {
    min-width: 290px;
    height: 120px;
    margin-bottom:24px;
    font-size: 40px;
    line-height:1;
    letter-spacing: -0.05em;
    font-weight: 700;
}

.landing-desc {
    margin-bottom:20px;
}

.landing-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-btn .file-button:first-child {
    margin-right: 8px;
}


/* Service  */
.service {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #F4F5F7;
    
}

.service .col-12:first-child {
    margin-bottom: 40px;
}

.service-title {
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 1.36363636363636;
    letter-spacing: -0.04em;
}


/* Program */
.program {
    padding-top: 80px;
    padding-bottom: 80px;
}

.program .col-12:first-child {
    margin-bottom: 32px;
}

.program-category {
    margin-bottom: 8px;
    font-weight: 700;
    color: #009B4D;
}

.program-title {
    margin-bottom: 24px;
    font-size: 34px;
    line-height: 1.058823529411765‬;
    letter-spacing: -0.03em;
    
}

.program .col-md-4:nth-child(2), .program .col-md-4:nth-child(3) {
    margin-bottom: 20px;
}

.program-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    transition: all 350ms ease-in-out;
}

.program-box:hover {
    background: #3141C5;
    color: #fff;
}
.program-img {
    height: 195px;
    margin-bottom: 16px;
    
}

.program .img-1 {
    width: 142.21px;
}

.program .img-2 {
    width: 146.06px;
}
.program .img-3 {
    width: 122.4px;
}

.program-img-title {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 1.333333333333333‬;
    letter-spacing: -0.02em;

}


    /* curriculumn */
.curriculum {
    padding: 80px 15px;
    
}
.curriculum .col-12:first-child {
    margin-bottom: 40px;
}
.curriculum-category {
    display: block;
    margin-bottom: 8px;
    text-align:left;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #0189D1;
}

.curriculum-title {
    margin-bottom: 24px;
    font-size: 34px;
    line-height: 1.058823529411765‬;
    letter-spacing: -0.03em;
}

.curriculum-desc{
    margin-bottom: 32px;
}

.curriculum .file-button {
    display:block;
    margin-bottom: 48px;
}

.curriculum-desc_2 {
    font-size: 15px;
    line-height: ‭1.466666666666667‬;
    letter-spacing: -0.03em;
}

.curriculum-img {
    display: none;
    width: 450px;
    height: 450px;
    padding: 12px 13px;
    margin-bottom: 36px;
}

.bold { 
    font-weight: 700;
}

    /* Banner */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 15px;
    background-color: #F2F8FA;
}

.banner .col-12:first-child {
    margin-bottom: 16px;
    padding: 25px 49px;
}
.banner-img {
    display:block;
    margin:0 auto; 
    width: auto;
    height: 190px;
}

.banner-title {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.05em;
    text-align: center;
}

.banner-desc {
    width: 290px;
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;

}

.email-in {
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    margin-bottom: 8px;
    border:none;
    border-radius: 2px;
}

.banner .file-button {
    width: 100%;
    margin-bottom: 8px;
    border:none;
}

.form-misc {
    font-size: 13px;
    line-height: 1.538461538461538‬;
    text-align: center;
}

.form-misc a {
    color: #3040C4;
    text-decoration: underline;
}

/* ≥768px (Desktop) */
@media screen and (min-width: 768px) {
    /* Reset CSS */
    p {
        font-size: 22px;
        line-height: 1.36363636;
    }

    .file-button{
        width: 160px;
        height: 56px;
        font-size: 18px;
        line-height: 1.555555555555556‬;
    }

    /* landing */
    .landing-content {
        height: auto;
        padding: 120px 0;
    }

    .landing-title{
        margin-bottom:32px;
        font-size: 70px;
        line-height: 1.028571428571429;
    }
    
    .landing-desc{
        margin-bottom:32px;
    }
    
    .landing-btn .file-button:first-child {
        margin-right: 16px;
    }

    /* Service  */
    .service .col-12:first-child {
        margin-bottom: 0;
    }

   

    .service-title {
        font-size : 26px;
        line-height: 1.307692307692308‬;
    }

    .service-desc {
        font-size : 22px;
        line-height: 1.454545454545455‬;
    }

    /* Program */

    .program-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .program-category {
        margin-bottom: 16px;
        font-size :22px;
        line-height: 1.090909090909091‬;
    }

    .program-title {
        width: 466px;
        margin-bottom: 32px;
        font-size: 56px;
        line-height: 1;
    }

    .program-desc {
        width: 770px;
        font-size: 22px;
        line-height: 1.454545454545455‬;
        letter-spacing: -0.01em;

    }

    .program .col-12:first-child {
        margin-bottom: 72px;
    }

    .program .col-md-4:nth-child(2), .program .col-md-4:nth-child(3) {
        margin-bottom: 0;
    }

    /*curriculum*/
    .curriculum .col-12:first-child {
        margin-bottom: 0;
    }
    .curriculum-category {
        margin-bottom: 16px;
        font-size: 22px;
        line-height: 1.090909090909091‬;
        letter-spacing: -0.01em;
    }

    .curriculum-title {
        margin-bottom: 32px;
        font-size: 56px;
        line-height: 1;
        letter-spacing: -0.03em;
    }

    .curriculum-desc {
        margin-bottom: 86px;
        font-size: 22px;
        line-height: 1.454545454545455‬;
        letter-spacing: -0.01em;
    }

    .curriculum .file-button {
        width: 160px;
        height: 56px;
        margin-bottom: 66px;
        font-size: 18px;
        line-height: 1.555555555555556‬;
        letter-spacing: -0.05em;
    }

    .curriculum-desc_2 {
        font-size: 18px;
        line-height: 1.444444444444444‬;
        letter-spacing: -0.01em;
    }

    .curriculum-img {
        display:block;
    }

    /* Banner */
    .banner {
        display: flex;
        padding: 80px 0;
        
    }
    
    .banner-img {
        width: 287px;
        height: auto;
        margin-right:83px;
    }
    
    .banner-title {
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 1;
        text-align: left;
    }
    
    .banner-desc {
        width: 530px;
        margin:0 0 24px 0;
        font-size: 22px;
        line-height: 1.454545454545455;
        text-align: left;
    }

    .banner-input {
        display: flex;
    }

    .email-in,.banner .file-button {
        font-size: 18px;
        line-height: 1.333333333333333‬;
    }

    .email-in {
        width:68%;
        height: 56px;
        margin-right: 8px;
    }

    .banner .file-button {
        width: 32%;
    }

    .form-misc {
        font-size: 14px;
        line-height: 1.714285714285714‬;
        text-align: left;
    }

}

/* Custom Grid System - Fix container width */
@media screen and (min-width: 1200px){
    .container {
        max-width: 960px !important;
    }
}
