* {
    box-sizing:border-box;
    margin: 0;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    color: #333;
    font-weight: 400;
}

/* Reset CSS */
a {
    color: inherit;
    text-decoration:none;
}

button,
input,
textarea {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: none;
    box-shadow: none;
}

ul,
ol,
li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;

}

p{
    font-size: 15px;
    line-height: 1.25;
    
}

.section-title {
    font-size: 24px;
    line-height: ‭1.208333333333333‬;
    text-align: center;
    margin-bottom: 19px;
}


/* Header */
header {
    color: #fff;
    background-image: url(./assets/phone-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-bg {
    display: flex;
    text-align: center;
    width: 100%;
    height: 275px;
    background-image: url(./assets/bg2.png)
}

.header-logo {
    padding: 35px;
}

.header-logo {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.208333333333333‬;
    font-weight: 700;
}

.header-menu {
    position: relative;
    top:60px;
    padding-top:20px;
}

.header-menu-list {
    display:flex;
    justify-content: space-around;

}

.header-menu-list-item {
    display: flex;
    align-items: center;
    height:40px;
    transition: opacity 250ms ease-in-out;
}

.header-menu-list-item:hover {
    opacity:0.6;
}

.header-content {
    position: relative;
    top: -50px;
}

.header-title {
    display: block;
    margin-bottom: 13px;
    font-size: 20px;
    font-weight:400;
    line-height: 1.2;
    
}

.header-desc {
    font-size: 13px;
    font-weight:400;
    line-height: 1.33333333333333 ;
    opacity:0.7;
    
}

    /* About */
    
#About {
    padding: 25px 0;
}

.about-desc {
    margin-bottom: 19px;
    font-size: 12px;
    line-height: 1.25;

}

    /* Skills */

#Skills {
    padding: 25px 0;
    background: #FFFAF2;
}

#Skills .section-title {
    margin-bottom: 25px;
}

.skills-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    width: 100%;
    padding-left: 34px;
    padding-right :32px;
}

.profile-img {
    width: 224px;
    height: 218px;
    margin-bottom: 26px;
    border-radius: 50%;

}

.profile-content_item {
    display: flex;
}

.profile-content_item:first-child {
    justify-content: space-between;   
}

.profile-content_item .tool {
    margin-right: 67px;
}

.profile-content_item:nth-child(2n) {
    justify-content: space-between;
}

.profile-content_item:first-child {
    margin-bottom: 31px;
}

.profile-content_item:nth-child(2n) {
    margin-bottom: 9px;
}

.profile-content_item:nth-child(2n+1) {
    margin-bottom: 18px;
}

.profile-title,.profile-desc { 
    font-size: 12px;
    line-height: 2.083333333333333‬;
}

.Bar_Front {
    position: relative;
    width: 180px;
    height: 18px;
    background: #F5D6AB;
}

.Bar_Front::after {
    content: "";
    position:absolute;
    top:0;
    left:0;
    height: 18px;
    background: #C66C49;
}

.profile-content_item:nth-child(2) .Bar_Front::after {
    width: 72px;
}

.profile-content_item:nth-child(4) .Bar_Front::after {
    width: 43.2px;
}

.profile-content_item:nth-child(6) .Bar_Front::after {
    width: 86.4px;
}

.profile-desc {
    font-weight: 400;
    
}


    /* Portfolio */

#Portfolio {
    padding: 25px 0px;
    text-align: center;
    
}

#Portfolio .section-title {
    text-align: center;
    margin-bottom: 19px;
}

.portfolio-sub-title {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.785714285714286‬;
    font-weight: 500;
}

.portfolio-desc {
    margin: 0 auto;
     width: 308px;
     height: 71px;
    font-size: 12px;
}

.portfolio-img-box {
    display: flex;
    justify-content: center;
}

.portfolio-img-item1 {
    width: 169.76px;
    height: 69.85px;
    margin-bottom: 12.61px;
}

.portfolio-img-item2 {
    width: 169.28px;
    height: 113.01px;
}

.portfolio-img-box_2 {
    position:relative;
    left: -12px;
}
.portfolio-img-item3 {
    width: 123.69px;
    height: 113.01px;
    margin-bottom: 12.61px;
}

.portfolio-img-item4 {
    width: 123.69px;
    height: 69.85px;
}

    /* Footer */
#Footer {
    padding: 26px 42px;
    padding-bottom: 50px;
    background-color: #FFFAF2;

}

#Footer .section-title {
    margin-bottom: 0;
}

#Footer .col-12:first-child {
    margin-bottom: 25px;
}

#Footer .col-12:last-child {
    margin-top: 30px;
}

.footer-links li {
    margin-bottom: 19px;
}

.footer-links li:last-child {
    margin-bottom: 0;
}

.footer-links a {
    font-size: 14px;
    line-height: 1.2142857142857142857142857142857‬;

}

.footer-addr-mail {
    display: block;
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 1.2142857142857142857142857142857‬;
}

.footer-addr-tel {
    display: block;
    font-size: 12px;
    line-height: 1.25;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items:  center;

}

#Footer .chevronUP-btn img{
    width: 24px;
    height: auto;

}

/* ≥768px (Desktop) */
@media screen and (min-width: 768px) {

    /* Header */

header {
    background-image: url(./assets/bg.png);  
}

.header-bg {
    display: flex;
    
    height:auto;   
    padding-top: 15px;
    text-align: center;
    background-image: url(./assets/bg2.png)
}

.header-logo { 
    height:auto;
    text-align:left;
    margin-bottom: 145px;
}

.header-menu {
    height:auto;
    position: static;
}

.header-menu-list-item {
    margin-right:15px;
    font-size: 18px;
    line-height: 1.222222222222222‬;
}
.header-content {
    position: relative;
    top:-80px;
    margin-bottom: 100px;
}


.header-title {
    margin-bottom: 26px;
    font-size: 64px;
    line-height: 1.21875‬;

    opacity: 0.9;
    animation-name: twinkle;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.header-desc{
    font-size: 24px;
    line-height: 1.208333333333333‬;
}

@keyframes twinkle {
    from{
        opacity: 0.9;
    }
    to{
        opacity: 0.5;
    }
}

    /* About */

#About {
    padding: 93px 65px;
}

#About .section-title {
    
    text-align: left;
    margin-bottom: 56px;
}

.about-desc {
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 1.25;

}

    /* Skills */

#Skills {
    
    padding: 93px 65px;
}

#Skills .section-title {
    margin-bottom: 86px;
    text-align: left;
    
}
.skills-content {
    flex-direction: row;
}

.profile {
    padding: 0;
}
.profile-img {
    width: 300px;
    height: 300px;
    margin-right: 125px;
}

.profile-title,.profile-desc{
    font-size: 18px;
    line-height: 1.388888888888889‬;
}

.profile-content_item .tool {
    margin-right: 95px;
}

.profile-content_item:nth-child(2n) {
    margin-bottom: 20px;
}

.profile-content_item:nth-child(2n+1) {
    margin-bottom: 20px;
}

.profile-content_item:first-child {
    margin-bottom: 65px;
}

.Bar_Front {
    width: 250px;
    height: 24px;
}

.Bar_Front::after {
    height: 24px;
   
}

.profile-content_item:nth-child(2) .Bar_Front::after {
    width: 0;
    transition: width 1s ease-in-out;
}

.profile-content_item:nth-child(4) .Bar_Front::after {
    width: 0;
    transition: width 1s ease-in-out;
}

.profile-content_item:nth-child(6) .Bar_Front::after {
    width: 0;
    transition: width 1s ease-in-out;
}

.profile-content_item:nth-child(2) .Bar_Front:hover::after {
    width: 100px;
}

.profile-content_item:nth-child(4) .Bar_Front:hover::after {
    width: 60px;
}

.profile-content_item:nth-child(6) .Bar_Front:hover::after {
    width: 120px;
}

/* Portfolio */

#Portfolio {
    padding: 93px 65px;
    text-align:left;
    
}

#Portfolio .section-title {
    margin-bottom: 86px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.208333333333333‬;
    text-align: left;
    
}

.portfolio-sub-title {
    display: block;
    margin-bottom: 48px;
    font-size: 18px;
    line-height: 1.388888888888889‬;
    font-weight: 500;
    
}

.portfolio-desc {
    width: 100%;
    font-size: 18px;
    line-height: 1.666666666666667‬;

}

.portfolio-img-box {
    
}

.portfolio-img-box_1 {
    margin-right:30px;
}

.portfolio-img-item1 {
    width: 300px;
    height: 124px;
    margin-bottom: 26px;
}

.portfolio-img-item2 {
    width: 300px;
    height: 213px;
    
}

.portfolio-img-box_2 {
    position:relative;
    left: 0;
}
.portfolio-img-item3 {
    width: 225px;
    height: 213px;
    margin-bottom: 26px;
}

.portfolio-img-item4 {
    width: 225px;
    height: 124px;
}

    /* Footer */

#Footer {
    padding: 93px 165px;
    padding-bottom: 123px;

}

#Footer .section-title {
    margin-bottom: 51px;
    font-size: 24px;
    line-height: 1.2083333333333333333333333333333‬;
    text-align: left;
    
}

#Footer .col-12:first-child {
    margin-bottom: 25px;
}

#Footer .col-12:last-child {
    margin-top: 0;
}

.footer-links li {
    margin-bottom: 14px;
}

.footer-links li:last-child {
    margin-bottom: 0;
}

.footer-links a {
    font-size: 18px;
    line-height: 1.2222222222222222222222222222222;

}

.footer-addr-mail {
    display: block;
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 1.2222222222222222222222222222222;
}

.footer-addr-tel {
    display: block;
    font-size: 15px;
    line-height: 1.2;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

#Footer .chevronUP-btn {
    position: relative;
    bottom: -150px;
    
}

#Footer .chevronUP-btn img{
    width: 24px;
    height: auto;

}



}

/* Custom Grid System - Fix container width */
@media screen and (min-width: 1200px){
    .container {
        max-width: 960px !important;
    }
}
