
/* Sign-Up-Modal */
.signUp-modal {
    position:fixed;
    top: 8%;
    left: 50%;
    width: 526px;
    
    padding: 42px;
    color:  #000F08;
    background-color: #fff;
    z-index: 99;
    transform: translateX(-50%);
	
    
}

.modal-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
}

.modal-title {
    font-size: 16.89px;
    line-height: 1.5;
    letter-spacing: -0.04em;
}

.close-icon {
    width: 16px;
    height: 16px;
    border: none;
    background-color: rgba(0,0,0,0);
    background-image: url(../assets/close-icon\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}



.close-icon:active {
    background-image: url(../assets/close-icon.png);
}


/* modal-input */

.modal-content {
    padding: 0 6px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-input-item {
    width: 421px;
    margin: 0 auto;
    margin-bottom: 32px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1.5px solid #D8D8D8;
    font-size: 12.6675��;
    line-height: 1;
    color: #8C8C8C;;
}

/* modal-bottom */

.modal-bottom {
    display: flex;
    flex-direction: column;
}

.promo-subscription {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
}

#check-box {
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 13px;
    padding: 0;
    border: none;
    background-color: #000;
    background-position: 3px 3px;
    background-repeat: no-repeat;
    background-size: 13px 11px;
    cursor: pointer;
}

.promo-desc {
    width: 391px;
    font-size: 12.675px;
    line-height: 1.5;
    white-space: nowrap;
}

.legal-policy {
    margin-bottom: 32px;
    font-size: 12.6775px;
    line-height: 1.5;
    color: #8C8C8C;
}

.legal-policy .emphasize {
    color:  #000F08;
    text-decoration: underline;
}

.signUp-btn {
    width: 253px;
    height: 52px;
    margin: 0 auto;
    margin-bottom: 32px;
    border:none;
    font-size: 17px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.sign-in-link {
    font-size: 12.675px;
    line-height: 1;
    text-decoration: underline;
}