<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	 
<mapper namespace = "com.spring.ajax.dao.PeopleMapper">
	<select id = "getPeopleGroup" resultType = "PeopleVO">
		SELECT * FROM people order by id
	</select>
	
	<select id = "getPeople" parameterType = "String" resultType="PeopleVO">
		SELECT * FROM people WHERE id = #{id}
	</select>
	
	<insert id = "insertPeople" parameterType = "PeopleVO">
		INSERT INTO people VALUES (#{id},#{name},#{job},#{address},#{bloodtype})
	</insert>
	
	<delete id = "deletePeople" parameterType = "String">
		DELETE FROM people WHERE id = #{id}
	</delete>
	
	<update id= "updatePeople" parameterType = "PeopleVO">
		update people set name=#{name},job=#{job},address=#{address},bloodtype=#{bloodtype} where id=#{id}
	</update>
</mapper>