* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: "Lato", sans-serif;
    background-color:black;
  }
  
  h1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #273444;
  }
  
  .user-card{
      width:240px;
      border:1px solid #E5E5E5;
      border-radius:4px;
      padding:8px 12px;
      background-color:white;
      
  }
  .user-card::after{
      content:'';
      display:block;
      clear:left;
  }
  .user-photo{
      float:left;
      position:relative;
      margin-right:12px;
      width:40px;
      height:40px;
  }

  .user-photo img{
      width:100%;
      height:auto;
      border-radius:50%;
  }
  
  .user-photo .user-status{
      box-sizing:content-box;
      width:8px;
      height:8px;
      background-color:#21D891;
      border:2px solid #FFFFFF;
      border-radius:50%;
      position:absolute;
      bottom:-2px;
      right:-2px;
  }

  .user-name{
    float:left;
    padding:8px 0;
}